useDynLib(qpgraph)

import(graph)

import(methods)

import(Matrix)

importClassesFrom(Biobase,
                  ExpressionSet)

importClassesFrom(GGBase,
                  smlSet)

importClassesFrom(GenomicRanges,
                  GRanges)

importMethodsFrom(Biobase,
                  exprs,
                  pData,
                  featureNames,
                  sampleNames,
                  varLabels)

importMethodsFrom(S4Vectors,
                  metadata)

importMethodsFrom(GGBase,
                  smList)

importMethodsFrom(AnnotationDbi,
                  metadata,
                  mget,
                  revmap)

importMethodsFrom(GenomeInfoDb,
                  seqlevels)

importMethodsFrom(GenomicFeatures,
                  transcripts)

importFrom(Biobase,
           subListExtract)

importFrom(annotate,
           getAnnMap)

importFrom(parallel,
           makeCluster,
           clusterSetRNGStream,
           clusterEvalQ,
           stopCluster,
           clusterExport,
           clusterApply,
           clusterCall)

importFrom(BiocParallel, bpparam,
                         bplapply)

importFrom(GenomeInfoDb,
           orderSeqlevels)

importFrom(mvtnorm,
           rmvnorm)

importFrom(qtl,
           sim.cross,
           pull.map)

importFrom(Rgraphviz,
           layoutGraph,
           renderGraph,
           plot)

exportClasses("SsdMatrix",
              "erGraphParam",
              "dRegularGraphParam",
              "erMarkedGraphParam",
              "dRegularMarkedGraphParam",
              "UGgmm",
              "HMgmm",
              "eQTLcross",
              "eQTLcrossParam",
              "eQTLnetworkEstimationParam",
              "qpGraph")

S3method(rmvnorm, UGgmm)
S3method(rmvnorm, numeric)
S3method(sim.cross, eQTLcross)
S3method(sim.cross, matrix)

exportMethods("qpNrr",
              "qpAvgNrr",
              "qpGenNrr",
              "qpGraph",
              "qpPAC",
              "qpPCC",
              "qpCItest",
              "qpAllCItests",
              "qpEdgeNrr",
              "qpEdgeCor",
              "qpFunctionalCoherence",
              "show",
              "determinant",
              "dim",
              "dimnames",
              "summary",
              "rmvnorm",
              "rcmvnorm",
              "sim.cross",
              "plot",
              "rgraphBAM",
              "UGgmm",
              "HMgmm",
              "rUGgmm",
              "rHMgmm",
              "$",
              "eQTLcross",
              "reQTLcross",
              "addGenes",
              "addeQTL",
              "addGeneAssociation",
              "alleQTL",
              "ciseQTL",
              "transeQTL",
              "geneticMap",
              "physicalMap",
              "ggData",
              "markerNames",
              "geneNames",
              "geneAnnotation",
              "eQTLnetworkEstimate",
              "varExplained")

export(qpHist,
       qpGraphDensity,
       qpCliqueNumber,
       qpClique,
       qpBoundary,
       qpAnyGraph,
       qpGetCliques,
       qpUpdateCliquesRemoving,
       qpIPF,
       qpHTF,
       qpPAC,
       qpPCC,
       qpRndGraph,
       qpRndWishart,
       qpG2Sigma,
       qpUnifRndAssociation,
       qpK2ParCor,
       qpPrecisionRecall,
       qpPRscoreThreshold,
       qpImportNrr,
       qpTopPairs,
       qpPlotNetwork,
       qpPlotMap,
       qpCov,
       erGraphParam,
       dRegularGraphParam,
       erMarkedGraphParam,
       dRegularMarkedGraphParam,
       eQTLcrossParam,
       eQTLnetworkEstimationParam)
