useDynLib(qpgraph)

import(methods)
import(Matrix)
importClassesFrom(Biobase)
importFrom(AnnotationDbi, mget)
importFrom(AnnotationDbi, revmap)
importFrom(annotate, getAnnMap)

exportMethods("qpNrr",
              "qpAvgNrr",
              "qpGenNrr",
              "qpPAC",
              "qpPCC",
              "qpCItest",
              "qpEdgeNrr",
              "qpFunctionalCoherence")

export(qpHist,
       qpGraphDensity,
       qpCliqueNumber,
       qpClique,
       qpGraph,
       qpAnyGraph,
       qpGetCliques,
       qpUpdateCliquesRemoving,
       qpIPF,
       qpPAC,
       qpPCC,
       qpRndGraph,
       qpRndWishart,
       qpG2Sigma,
       qpUnifRndAssociation,
       qpK2ParCor,
       qpPrecisionRecall,
       qpPRscoreThreshold,
       qpImportNrr,
       qpTopPairs,
       qpPlotNetwork,
       qpCov)
