useDynLib(qpgraph)

import(methods)
import(Matrix)
importClassesFrom(Biobase, ExpressionSet)
importClassesFrom(graph, graphNEL)
importClassesFrom(GGBase, smlSet)
importFrom(Biobase, exprs)
importFrom(Biobase, pData)
importFrom(GGBase, smList)
importFrom(graph, nodes)
importFrom(graph, edges)
importFrom(graph, edgemode)
importFrom(AnnotationDbi, mget)
importFrom(AnnotationDbi, revmap)
importFrom(annotate, getAnnMap)

exportClasses("SsdMatrix")

exportMethods("qpNrr",
              "qpAvgNrr",
              "qpGenNrr",
              "qpPAC",
              "qpPCC",
              "qpCItest",
              "qpAllCItests",
              "qpEdgeNrr",
              "qpFunctionalCoherence")

export(qpHist,
       qpGraphDensity,
       qpCliqueNumber,
       qpClique,
       qpBoundary,
       qpGraph,
       qpAnyGraph,
       qpGetCliques,
       qpUpdateCliquesRemoving,
       qpIPF,
       qpHTF,
       qpPAC,
       qpPCC,
       qpRndGraph,
       qpRndWishart,
       qpG2Sigma,
       qpUnifRndAssociation,
       qpK2ParCor,
       qpPrecisionRecall,
       qpPRscoreThreshold,
       qpImportNrr,
       qpTopPairs,
       qpPlotNetwork,
       qpCov,
       qpRndHMGM,
       qpSampleFromHMGM)
